{% extends 'base.html.twig' %}

{% block title %}Список курсов{% endblock %}
{% block body %}
    <!— Flash message —>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <h1>Курсы</h1>
    <div class="container-fluid mt-3">
    <div class=" row">
        {% for course in courses %}
            <div class="col-sm-6 my-md-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        {% if course.description %}
                            <p class="card-text">{{ course.description }}</p>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('app_course_show', {'id': course.id}) }}" class="card-link">
                                Перейти
                            </a>
                        {% elseif coursesInfoBilling != NULL and
                            coursesInfoBilling[course.code].course.type == 'free' %}
                            <p class="text-danger">Курс бесплатный!</p>
                            <a href="{{ path('app_course_show', {'id': course.id}) }}" class="card-link">
                                Перейти
                            </a>
                        {% elseif coursesInfoBilling != NULL and
                            coursesInfoBilling[course.code].course.type == 'buy' and
                            coursesInfoBilling[course.code].transaction != NULL %}
                            <p class="text-success">Курс куплен</p>
                            <a href="{{ path('app_course_show', {'id': course.id}) }}" class="card-link">
                                Перейти
                            </a>
                        {% elseif coursesInfoBilling != NULL and
                            coursesInfoBilling[course.code].course.type == 'buy' and
                            coursesInfoBilling[course.code].transaction == NULL %}
                            {% if balance is defined and
                                balance >= coursesInfoBilling[course.code].course.price %}
                                <a class="card-link btn btn-primary" data-bs-toggle="modal"
                                   data-bs-target="#buyModal-{{ course.code }}" id="myBtn">
                                    Купить за {{ coursesInfoBilling[course.code].course.price }}
                                </a>
                            {% elseif balance is defined and
                                balance < coursesInfoBilling[course.code].course.price %}
                                <button type="button" class="btn btn-primary" disabled>
                                    Купить за {{ coursesInfoBilling[course.code].course.price }}
                                </button>
                            {% endif %}

                        {% elseif coursesInfoBilling != NULL and
                            coursesInfoBilling[course.code].course.type == 'rent' and
                            coursesInfoBilling[course.code].transaction != NULL %}
                            <p class="text-warning">
                                Арендован до {{ coursesInfoBilling[course.code].transaction.expiresAt }}
                            </p>
                            <a href="{{ path('app_course_show', {'id': course.id}) }}" class="card-link">
                                Перейти
                            </a>
                        {% elseif coursesInfoBilling != NULL and
                            coursesInfoBilling[course.code].course.type == 'rent' and
                            coursesInfoBilling[course.code].transaction == NULL %}
                            {% if balance is defined and
                                balance >= coursesInfoBilling[course.code].course.price %}
                                <button
                                        class="card-link btn btn-primary"
                                        data-bs-toggle="modal"
                                        id="myInput"
                                        data-bs-target="#buyModal-{{ course.code }}"
                                >
                                    Арендовать за {{ coursesInfoBilling[course.code].course.price }}
                                </button>
                            {% elseif balance is defined and
                                balance < coursesInfoBilling[course.code].course.price %}
                                <button type="button" class="btn btn-primary" disabled>
                                    Арендовать за {{ coursesInfoBilling[course.code].course.price }}
                                </button>
                            {% endif %}
                        {% endif %}
                        <!-- Modal -->
                        <div class="modal fade" id="buyModal-{{ course.code }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Подтверждение покупки</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Вы уверены, что хотите совершить покупку?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Закрыть
                                        </button>
                                        <a role="button" methods="POST"
                                           href="{{ path('course_pay', {'course_code': course.code}) }}" type="button"
                                           class="btn btn-primary">Подтвердить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Modal -->
                    </div>
                </div>
            </div>
        {% else %}
            <p colspan="5">Курсов не найдено</p>

        {% endfor %}
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}

        <a class="btn btn-secondary course-new" href="{{ path('app_course_new') }}">Создать новый курс</a>
    {% endif %}
{% endblock %}